*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}
body{
  background-image: url(/Users/paoloferrari/Documents/PaoloFerrari/Counter/Assets/img/pexels-rostislav-uzunov-5011647.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100PX 0;
}

h1{
font-size: 10rem;
color: yellow;
border-radius: 10px;
}

button{
  background: none;
  outline: none;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
  color: black;
  font-size: 30px;
  background-color: darkturquoise;
  cursor: pointer;
}
